<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/all.css">
        <link rel="stylesheet" href="/css/landing.css">
    </head>
    <body>
        <div id="menu">
            <div id="logo">
                <div id="logo-img"></div>
                <div id="logo-text">NXT</div>
            </div>
            <div class="menu-item">About</div>
            <a class="menu-item" href="/map?type=0">Map</a>
            <div class="menu-item">Contact</div>
        </div>

        <div id="content-container">
            <div class="content-row">
                <div class="content-item content-item-small inverter fold">
                    <div class="content-item-text">
                        We Are Better Than The Transit App
                    </div>
                </div>
                <a class="content-item" style="background-image: url(img/map.png);" href="/map?type=0"></a>
            </div>
            <div class="content-row">
                <div class="content-item fold" style="background-image: url(https://i.pinimg.com/originals/f7/c2/dd/f7c2dd1be3fdf0d069da45e3220eca4e.gif);"></div>
                <div class="content-item content-item-small inverter">
                    <div class="content-item-text">
                        Integrated AI For Better Time Predictions
                    </div>
                </div>
            </div>
            <div class="content-row">
                <div class="content-item content-item-small inverter">
                    <div class="content-item-text">
                        Real-Time Bus Positions
                    </div>
                </div>
                <a class="content-item fold" style="background-image: url(https://i.pinimg.com/originals/df/b8/fa/dfb8fa77aa77d9110a63d9a72fbbd777.gif);" href="/map?type=1"></a>
            </div>
            <div class="content-row">
                <div class="content-item fold" style="background-image: url(https://cdn.dribbble.com/users/2063813/screenshots/5323624/untitled-2.gif);"></div>
                <div class="content-item inverter">
                    <div class="content-item-text">
                        Updated Trip Times Using Real Data + AI
                    </div>
                </div>
            </div>
        </div>
        <%- include('./partials/footer') %>
    </body>
</html>