<!-- https://leafletjs.com/ -->

<!DOCTYPE html>
<html>
    <head>
        <!-- Leaflet CSS -->
        <link 
            rel="stylesheet" 
            href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
            integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
            crossorigin=""
        />
        <!-- Style -->
        <link rel="stylesheet" href="/css/map.css">
    </head>
    <body>
        <div id="main-container">
            <div id="map"></div> 
            <div id="sidePanel">
                <div id="mapType-selectors">
                    <a class="mapType-selector">Stops</a>
                    <a class="mapType-selector">Buses</a>
                </div>
                <div id="searchBar">
                    <input type='text' id="searchBar-text" placeholder="Search Bus Stop...">
                    <button id="searchBar-button" onclick="searchEnter()"></button>
                </div>
                <div id="bus-results">
                    <!-- Results Generated Here -->
                </div>
            </div>
        </div>
    </body>
    <!-- Leaflet JS -->
    <script 
        src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin="">
    </script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Main Script -->
    <% if(type == 'stops') { %>
        <script src="/scripts/map-stops.scripts.js"></script>
    <% } else { %>
        <script src="/scripts/map-buses.scripts.js"></script>
    <% } %>
</html>